<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asiainfo.mealorder"
    android:versionCode="18"
    android:versionName="2.3.6" >
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <!--网络权限-->
    //允许程序访问网络连接，可能产生GPRS流量
    <uses-permission android:name="android.permission.INTERNET" />
    //允许程序获取网络信息状态，如当前的网络连接是否有效
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //允许程序改变网络状态,如是否联网
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    //允许程序获取当前WiFi接入的状态以及WLAN热点的信息
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    //允许程序改变WiFi状态
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Required 自定义用来收发消息的相关权限 -->               
    <permission  android:name="com.asiainfo.mealorder.permission.JPUSH_MESSAGE"  android:protectionLevel="signature" />
    //开机自启动
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    //系统默认下载管理器调用权限
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    //禁止发出通知,既后台下载不提示
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    允许程序禁用键盘锁
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.asiainfo.mealorder.permission.JPUSH_MESSAGE" />
    //用户唤醒机器的权限
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    //允许程序在手机屏幕关闭后后台进程仍然运行,尾锁,唤醒机制
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    //允许程序访问电话状态
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    允许程序挂载、反挂载外部文件系统
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--允许程序振动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--存储读取权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    允许程序读取或写入系统设置
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //允许程序清除应用缓存
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    //允许一个应用程序检索私有信息是当前最顶级的活动，不被第三方应用使用,查看task栈
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Optional for location -->
    //允许程序通过WiFi或移动基站的方式获取用户错略的经纬度信息
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //允许程序通过GPS芯片接收卫星的定位信息
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    //允许程序访问额外的定位提供者指令
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 1、设置打印机权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_PRINTER" />
    <!-- 2、访问接触式 IC 卡读卡设备权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_ICCARD" />
    <!-- 3、访问非接触 IC 卡读卡设备权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_RFCARD" />
    <!-- 4、访问磁条卡读卡器设备权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_MAGCARD" />
    <!-- 5、获取磁道明文接口权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_MAGCARD_GETTRACKDATA" />
    <!-- 6、获取磁道密文数据接口权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_MAGCARD_GETENCRYPTTRACKDATA" />
    <!-- 7、访问 PSAM卡设备权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_PSAMCARD" />
    <!-- 8、访问串口设备权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_SERIALPORT" />
    <!-- 9、访问系统设备权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MID_SYSTEMDEV" />

    <application
        android:name="com.asiainfo.mealorder.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.TransparencyDemo" >
        <activity
            android:name="com.asiainfo.mealorder.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Start"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <!--桌台页面，单栈，根元素 -->
        <activity
            android:name="com.asiainfo.mealorder.ui.ChooseDeskActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.AddMemberActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.LocalOrderActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.ViewOrderDishesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/dialog_style"
            >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.ImageActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.CheckOrderActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/dialog_style"
            >
        </activity>
        <activity
            android:name=".ui.DeskOrderActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SettleAccountActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.MemberActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.MakeOrderActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.DishSetCompActivity"
            android:label="@string/app_name"
             android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.PayPriceActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.OrderByMealNumberActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.LKLPayPriceActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.ConfirmOrderActivity"
            android:label="@string/app_name"
             android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.SearchDishesActivity"
            android:label="@string/app_name"
             android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.SearchUserActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.MarketingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asiainfo.mealorder.ui.SystemActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        
        <service
            android:name="com.asiainfo.mealorder.utils.DownloadService"
            android:exported="true" />

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden" 
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.asiainfo.mealorder" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
    
        <!-- Required SDK 核心功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        
        <!-- Required SDK 核心功能-->
        <service 
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.asiainfo.mealorder"/>
            </intent-filter>
        </service>
        
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
             <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.asiainfo.mealorder" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
             <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.asiainfo.mealorder.receiver.JPushReceiver" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.asiainfo.mealorder" />
            </intent-filter>
        </receiver>
        
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="35a6d37960a4542700e3fb37" />
    </application>

</manifest>